.footer {
  background-color: rgb(44, 43, 43);
  text-align: center;
  padding: 50px;
}

.footer a {
  font-size: 30px;
  color: #1EDD88;
}

.footer p {
  color: rgb(103, 103, 99);
}

.fas {
  color: red;
}
